DOUYIN_DB_PATH=../data/app.db
DOUYIN_BROWSER_PROFILE_DIR=../data/browser_profile
DOUYIN_BROWSER_CHANNEL=chrome
DOUYIN_HEADLESS=false
DOUYIN_DOUYIN_URL=https://www.douyin.com/
DOUYIN_FOLLOWING_URL=https://www.douyin.com/user/self
DOUYIN_SCRAPE_LIMIT=700
DOUYIN_SCROLL_DELAY_MS=800
DOUYIN_PROFILE_DELAY_MS=900
DOUYIN_MAX_PROFILE_PAGES=100
DOUYIN_UNDATED_KEYWORDS_PATH=../data/undated_keywords.txt
